<div class="books-container">
        <div class="card-book">
            <h2>{{book.id}} - {{book.title}}</h2>
            <p>Quantidade de páginas: {{book.pageqty}}</p>
            <a href="/books">Voltar</a>
        </div>
</div>