<h1>Cadastre seu livro</h1>
<form action="/books/insertbook" method="POST">
    <div class="form-control">
        <input type="text" name="title" placeholder="Digite o título">
        <input type="number" name="qtdpages" placeholder="Número de páginas">
    </div>
    <button>Cadastrar</button>
</form>
